@use "sass:color";
@use "sass:math";

// Color swatch
$color-white: #fff;
$color-black: #000;
$color-blue: #00f;

// Colors
$colors: (
    neutral: (
        100: $color-white,
        900: $color-black
        ),
    primary: (
        100: $color-white,
        900: $color-black
        ),
    accent: (
        500: $color-blue,
        700: red
        ),
    grey: (
        100: white,
        200: lighten(black, 1% * 100*math.div(7, 8)),
        300: lighten(black, 1% * 100*math.div(6, 8)),
        400: lighten(black, 1% * 100*math.div(5, 8)),
        500: lighten(black, 1% * 100*math.div(4, 8)),
        600: lighten(black, 1% * 100*math.div(3, 8)),
        700: lighten(black, 1% * 100*math.div(2, 8)),
        800: lighten(black, 1% * 100*math.div(1, 8)),
        900: black
    )
);